<div class="container">
  <div class="row center border-bottom">
    <div class="col-12 col-md-6 col-lg-4">
      <h3 class="center text-center mb-5"><u>Experienced Skills:</u></h3>
      <div class="col-12 ar mb-5">
        <i class="devicon-angularjs-plain colored x" placement="top" ngbTooltip="Angular"></i>
        <i class="devicon-ionic-original colored x" placement="top" ngbTooltip="Ionic with Angular"></i>
        <i class="devicon-react-original colored x" placement="top" ngbTooltip="React JS"></i>
      </div>
      <div class="col-12 ar mb-5">
        <i class="devicon-typescript-plain colored x" placement="top" ngbTooltip="Typescript"></i>
        <img src="../../../assets/images/sqllogowhitesmol.png" class="bgwhite" alt="sql logo" placement="top"
          ngbTooltip="SQL">
        <i class="devicon-javascript-plain colored x" placement="top" ngbTooltip="Javascript"></i>
      </div>
      <div class="col-12 ar mb-5">
        <i class="devicon-html5-plain colored x" placement="top" ngbTooltip="HTML"></i>
        <i class="devicon-csharp-plain colored x" placement="top" ngbTooltip="C#"></i>
        <i class="devicon-css3-plain colored x" placement="top" ngbTooltip="CSS"></i>
      </div>
    </div>

    <div class="col-lg-2 d-none d-lg-block"></div>

    <div class="col-12 col-md-6 col-lg-4">
      <h3 class="center text-center mb-5"><u>Development Tools:</u></h3>
      <div class="col-12 ar mb-5">
        <i class="fab fa-unity fa-3x" placement="top" ngbTooltip="Unity"></i>
        <img src="../../../assets/images/filezillalogo.png" alt="filezilla logo" placement="top" ngbTooltip="FileZilla">
        <i class="icons fab fa-github-alt fa-3x" placement="top" ngbTooltip="Github"></i>
      </div>

      <div class="col-12 ar mb-5">
        <!-- <i class="devicon-visualstudio-plain colored x" placement="top" ngbTooltip="Visual Studio Code"></i> -->
        <img src="../../../assets/images/vsCode.png" alt="Visual Studio Code icon" placement="top"
          ngbTooltip="Visual Studio Code">
        <i class="devicon-bootstrap-plain colored x" placement="top" ngbTooltip="Bootstrap"></i>
        <i class="devicon-xd-plain colored x" placement="top" ngbTooltip="Adobe XD"></i>
      </div>

      <div class="col-12 ar mb-5">
        <img src="../../../assets/images/jiralogo.png" alt="jira logo" placement="top" ngbTooltip="Jira">
        <img src="../../../assets/images/slackicon50.png" alt="slack icon" placement="top" ngbTooltip="Slack">
        <img src="../../../assets/images/postmanlogo.png" alt="postman logo" placement="top" ngbTooltip="Postman">
      </div>
    </div>
  </div>
</div>
