
.white{
    color: white;
}
.white:hover{
    text-decoration: underline;
    color: #D1F5FF;
}
.icons{
    color:white;
}
.icons:hover{
    color: #D1F5FF;
}
.bee{
    border-top: 1px solid white;
    /* position: absolute; */
    /* bottom: 0; */
    height:100px;
    background-color: #0d1117;
}
.codewars{
    width: 30px;
    height: 30px;
    background-image: url(../../../assets/images/codewarslogo.png);
}

.codewars:hover{
    background-image: url(../../../assets/images/codewarsBlue.png);
}
.space{
    font-size: 20px;
    letter-spacing: 4px;
}

@media only screen and (max-width: 600px) {
    .space{
        font-size: 16px;
    }
}
@media only screen and (max-width: 420px) {
    .space{
        font-size: 10px;
    }
}