.white{
    color: white;
}
.white:hover{
    text-decoration: underline;
    color: #D1F5FF;
}
.icons{
    color:white;
}
.icons:hover{
    color: #D1F5FF;
}
.bee{
    border-top: 1px solid white;
}
.codewars{
    width: 30px;
    height: 30px;
    background-image: url(../../../assets/images/codewarslogo.png);
}

.codewars:hover{
    background-image: url(../../../assets/images/codewarsBlue.png);
}