<div class="container-fluid marAdd">
    <div class="row">
        <div class="col-12 text-center">
            <h1 class="bigtxt">Have Questions? Comments? Need a Web Developer? <br/> Contact Christy!</h1>
        </div>
    </div>
    <div class="row my-5 down">
        <div class="col-lg-3 col-sm-6 center cardMar">
            <a class="card email p-2" target="_blank" href="mailto:christy@eang.dev">
                <i class="center far fa-paper-plane iconSizing"></i>
                <div class="card-body text-center">
                    <h3 class="card-title">Email Me!</h3>
                    <p class="card-text">christy@eang.dev</p>
                </div>
            </a>
        </div>

        <div class="col-lg-3 col-sm-6 center cardMar">
            <a class="card insta p-2"  target="_blank" href="http://www.instagram.com/christycreme95">
                <i class="center fab fa-instagram iconSizing"></i>
                <div class="card-body text-center">
                    <h3 class="card-title">My Instagram!</h3>
                    <p class="card-text">@christycreme95</p>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-sm-6 center cardMar">
            <a class="card fb p-2" target="_blank" href='https://www.facebook.com/christycreme95'>
                <i class="center fab fa-facebook iconSizing"></i>
                <div class="card-body text-center">
                    <h3 class="card-title">My Facebook!</h3>
                    <p class="card-text">christycreme95</p>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-sm-6 center cardMar">
            <a class="card github p-2" target="_blank" href='https://github.com/christycreme95'>
                <i class="center fab fa-github-alt iconSizing"></i>
                <div class="card-body text-center">
                    <h3 class="card-title">My Github!</h3>
                    <p class="card-text">christycreme95</p>
                </div>
            </a>
        </div>
    </div>
</div>