.bg{
    background: linear-gradient(#000000, #0d1117);
}
.fontbig{
    font-size: 50px;
}


@media only screen and (max-width: 420px) {
    .myFace{
        width: 300px;
        height: auto;
    }
}
/* @media only screen and (min-width: 420px){
    .myFace{

    }
} */
.x{
    font-size: 3rem;
}
.ar{
    display:flex;
    justify-content: space-around;
}
/* .adobexd{
    background-image: url(../../../assets/images/adobexd70.png);
} */
