<h1 class="center mt-5">Christy's Projects</h1>

<div class="container">
    <div class="row mb-4">
        <div class="col-12 col-md-6 col-lg-4 stretch" *ngFor="let proj of projects">
            <div class="hover projBox p-3 my-3 rounded">
                <a class="text-decoration-none text-light" target="_blank" href="{{proj.src}}">
                <img src={{proj.picture}} class="img-fluid" alt="Christy's Project {{proj.name}}">
                
                    <br>

                    <h2 class="mt-2"><u>{{proj.name}}</u></h2>
                    <p class="pb-4">{{proj.description}}</p>
                    <p style="color: rgb(0, 255, 255); position: absolute; bottom: 15px; font-size: 12px;" class="pr-4">{{proj.keywords}}</p>
                </a>
                
            </div>

        </div>
    </div>
</div>
<app-footer></app-footer>