/* You can add global styles to this file, and also import other style files */
body{
    font-family: 'Xanh Mono', monospace;
    color: white;
    background-color: #0d1117;
}
.center{
    display: flex;
    justify-content: center;
}